<h1>Login</h1>
<div>
    <a href="/">Home</a>
</div>
<br />
<form action="/login" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" />
    </div>
    <br />
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
    </div>
    <br />
    <div>
        <button type="submit">Login</button>
    </div>
    <br />
</form>
<form action="/register" method="get">
    <div>
        Don't have an account? <button type="submit">Register</button>
    </div>
</form>