<div class="container w-50">
    <h1>Create Track</h1>
    <hr style="width: 100%; color: #5cb85c; height: 1px; background-color:#5cb85c;" />
    <form action="/tracks/create?albumId=@Model.AlbumId" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" placeholder="Name..." />
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input class="form-control" type="text" name="link" placeholder="Link..." />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price" placeholder="Price..." />
        </div>
        <div class="row text-center">
            <div class="col-sm-6">
                <div>
                    <button class="btn btn-success" type="submit">Create</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn btn-success">@Model.BackToAlbum</div>
            </div>
        </div>
    </form>
    <hr style="width: 100%; color: #5cb85c; height: 1px; background-color:#5cb85c;" />
</div>