<h1>Create Track</h1>
<hr />
<form action="/tracks/create?albumId=@Model.AlbumId" method="post">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name..."/>
    </div>
    <br />
    <div>
        <label for="link">Link</label>
        <input type="text" name="link" placeholder="Link..."/>
    </div>
    <br />
    <div>
        <label for="price">Price</label>
        <input type="text" name="price" placeholder="Price..."/>
    </div>
    <br />
    <button type="submit">Create</button>
</form>
<hr />
@Model.BackToAlbum