<h1>Register</h1>
<form action="/users/register" method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username..."/>
    </div>
    <br />
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password..."/>
    </div>
    <br />
    <div>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm Password..."/>
    </div>
    <br />
    <div>
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email..."/>
    </div>
    <br />
    <button type="submit">Register</button>
</form>